.container{
	  display: flex;
		  flex-wrap: wrap;
		  background-color: #5D6064;
		  height: 100px;
		  width: 610px;
		  border:4px solid #06FCE8;
         justify-content:space-between;
     }

.container > div {
	 background-color: #F35505;
		  width: 110px;
		  height: 40px;
		  margin:2px;
		  text-align: center;
		  line-height:40px;
		  font-size: 20px;
		  color: #FFFFFF;
}

#uno >  div {

	align-self: flex-end;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right:0px;
}
#uno > div:nth-child(3){
	align-self:flex-start;
	margin-bottom: 0px;
	margin-top: 0px;
}

#dos > div {
	align-self: flex-start;
	margin-top: 0px;
	margin-left: 0px;
	margin-right:0px;

}
#dos > div:nth-child(3){
	align-self:center;
	margin-bottom: 0px;
	margin-top: 0px;

}
#tres {
	align-items: center;

}
#tres > div:nth-child(4){
	height: 93px;
	line-height: 80px;
}
#tres > div:nth-child(2){
	height: 30px;
	line-height: 30px;
	}
#tres > div:nth-child(3){
	height: 40px;
}
#tres > div:nth-child(5){
	line-height: 17px;
	height: 15px;

}